In [ ]:
names = ['John', 'Bob', 'Mosh', 'Sarah', 'Mary']

In [4]:
students = [
    {'name': 'John', 'college': 'Sky high', 'qualification': 'Bachelors'},
    {'name': 'Bob', 'college': 'Sky high', 'qualification': 'Masters'},
    {'name': 'Mosh', 'college': 'Sky high', 'qualification': 'Bachelors'},
    {'name': 'Sarah', 'college': 'Sky high', 'qualification': 'Bachelors'},
]

In [20]:
class Student:
    def __init__(self, name, college, qualification):
        self.name = name
        self.college = college
        self.qualification = qualification
    
    def __repr__(self):
        return self.name

In [21]:
stdObjs = [
    Student('Rohan', 'Sky high', 'Bachelors'),
    Student('Rahul', 'Sky high', 'Masters'),
    Student('Raj', 'Sky high', 'Bachelors'),
    Student('Ravi', 'Sky high', 'Bachelors'),
]

In [22]:
stdObjs

[Rohan, Rahul, Raj, Ravi]

In [28]:
class Triangle:
    def __init__(self, b=0, h=0):
        self.base = b
        self.height = h

    def area(self):
        return self.base * self.height / 2
    
    def __repr__(self):
        return f'Triangle({self.area()})'

In [32]:
data = [Triangle(12,5), Triangle(10,5), Triangle(8,15), Triangle(6,25)]
data

[Triangle(30.0), Triangle(25.0), Triangle(60.0), Triangle(75.0)]

In [37]:
import os
class Reader:
    """Reads a file and returns the content"""
    def __init__(self, path):
        if not os.path.exists(path):
            raise Exception('File does not exist')
        self.path = path
        self.content = self.read()

    def read(self):
        with open(self.path, 'r') as f:
            return f.read()
        
    def count_words(self):
        return len(self.content.split())
    
    def count_chars(self):
        return len(self.content)
    
    def __str__(self):
        return self.content

In [44]:
r1 = Reader('nested.py')

In [45]:
print(r1.content)

from turtle import *

speed('fastest')
pencolor('red')
fillcolor('yellow')
for i in range(6):
    fd(100)
    for i in range(6):
        fd(50)
        begin_fill()
        for i in range(6):
            fd(50)
            rt(60)
        end_fill()
        lt(60)
    rt(60)

hideturtle()
mainloop()

In [46]:
print(r1.count_words())
print(r1.count_chars())

29
299

inheritance

In [1]:
class User:
    def __init__(self, name, age=21, gender='female'):
        self.name = name
        self.age = age
        self.gender = gender

    def __repr__(self):
        return self.name

In [2]:
u1 = User('Shahid', 23, 'male')
u1

Shahid

In [9]:
class Student(User):
    def __init__(self, nm, college, klass, rollno, age=21, gdr='female'):
        super().__init__(nm, age, gdr)
        self.college = college
        self.klass = klass
        self.rollno = rollno

    def info(self):
        print('Student details')
        print('Name:', self.name)
        print('Age:', self.age)
        print('College:', self.college)
        print('Class:', self.klass)
        print('Roll no:', self.rollno)
        print('***'*10)

In [10]:
s1 = Student('Sagar', 'DDU', 'Msc', '391200', age=25, gdr='male')
s1

Sagar

In [11]:
s1.info()

Student details
Name: Sagar
Age: 25
College: DDU
Class: Msc
Roll no: 391200
******************************

In [15]:
x = [1,2,3,4,5]
y = [10,20,30,40,50]

In [25]:
class MyList(list):
    def __mul__(self, other):
        output = []
        for i,j in zip(self, other):
            output.append(i*j)
        return output

    def sum(self):
        return sum(self)
    
    def mean(self):
        return sum(self)/len(self)

In [26]:
x = MyList([1,2,3,4,5])
y = MyList([10,20,30,40,50])
x * y

[10, 40, 90, 160, 250]

In [27]:
x.append(10)
x.sum()

25