In [1]:
name = "Vijay Deenanath Chauhan"
print(len(name))

23

In [ ]:
for char in name:
    print(char)

In [2]:
for i in name:
    if i not in 'aeiouAEIOU':
        print(i)

V
j
y

D
n
n
t
h

C
h
h
n

In [1]:
colors = ['red','green','blue','black']
for color in colors:
    print(color)

red
green
blue
black

In [13]:
for c in colors:
    print(f'{c} has {len(c)} chars ')

red has 3 chars
green has 5 chars
blue has 4 chars
black has 5 chars

# task 1
> wap to print if the len of a string is even or odd, from a list of strings

14 - feb - 2023

`range()` function

- `range(100)` - 0 to 99
- `range(10, 50)` - 10 to 49
- `range(1, 100, 5)` - 1 to 99, step 5
- `range(100, 0, -1)` - 100 to 1, step -1
- `range(0, 100, 2)` - 0 to 99, step 2 (even numbers)
- `range(1, 100, 2)` - 1 to 99, step 2 (odd numbers)

more for loop 
- *enumerate( )*
- *zip( )*

In [2]:
flowers = ['rose','jasmine','lotus','lily']
for flower in flowers:
    print(flower)

rose
jasmine
lotus
lily

In [5]:
for i, flower in enumerate(flowers):
    print(i, flower)

0 rose
1 jasmine
2 lotus
3 lily

In [8]:
x = [1,2,3,4,5,6]
y = [3,5,6,7,8,2]
# use the formula (a + b)**2 for each pair of values from both list
for i, j in zip(x, y):
    print(f'({i} + {j})**2 = {(i+j)**2}')

(1 + 3)^2 = 16
(2 + 5)^2 = 49
(3 + 6)^2 = 81
(4 + 7)^2 = 121
(5 + 8)^2 = 169
(6 + 2)^2 = 64

## `break` and `continue`

In [13]:
a = [2,3,4,0,0,0,6,6,1,0,2,3,4,0,0,5,6,7,7,3,0,0,0,2,1,1]
for i in a:
    if i == 0: continue
    print(i)

2
3
4
6
6
1
2
3
4
5
6
7
7
3
2
1
1

In [14]:
names = ['Sam','Sara','Alexa','','Alex','John','','Jill','Jack']
for name in names:
    if len(name) == 0: break
    print(name)

Sam
Sara
Alexa

In [15]:
for name in names:
    if len(name) == 0: 
        print('Error: Empty name found')
        break
    print(name)

Sam
Sara
Alexa
Error: Empty name found